/**************************************Polices*****************************************/
@font-face {
    font-family: 'raleway';
    src: url('Fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    src: url('Fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**************************************Général******************************************/
#bloc_page
{
    font-family: 'raleway', sans-serif;
    max-width: 1440px;
    margin: auto;
}

ul li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

a:visited
{
    color: black;
}

section
{
    margin: 0 3em;
}

/**************************************Header*********************************************/
header
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 3em;
}

nav ul
{
    display: flex;
    flex-direction: row;
}

nav li
{
    margin-left: 70px;
}

nav a:hover
{
    border-top: 4px solid #0065FC;
    padding-top: 40px;
}

#inscrire a
{
    color: #0065FC;
    font-weight: bold;
}

#logo img
{
    width: 87px;
    height: 35px;
    padding-top: 30px;
}

/**************************************zone de recherche****************************************/

.intro
{
    display: flex;
    flex-direction: column;
}

.intro h1
{
    margin-bottom: -10px;
    font-size: 1.6em;
    font-weight: bold;
}

form
{
    display: flex;
}

#ville
{
    width: 250px;
    height: 3em;
    font-weight: bold;
    padding-left: 1em;
    border: 1px solid #F2F2F2;
}

.position
{
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 12px 18px;
}

#button
{
    width: 110px;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #0065FC;
    color: white;
    font: 1em bold;
}

/**************************************Filtres****************************************/

.filtres-titre
{
    margin-top: 8px;
    font-weight: bold;
    font-size: 1.2em;
    padding-right: 15px;
}


.filtres
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 22px;
}

.filtre-tag
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    border-left: none;
    font-weight: bold;
    margin-left: 3.2em;
}

.filtre-tag:hover
{
    box-shadow: 5px 5px 3px #DEEBFF;
}

.icone
{
    color: #0065FC;
    font-size: 1.4em;
}

.icone i
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2em;
    min-height: 2em;
    background-color: #DEEBFF;
    border-radius: 100%;
}

.texte
{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    padding-right: 1em;
    padding-left: 1em;
}

.nb_logements
{
    display: flex;
    margin-top: 1.1em;
    margin-bottom: 2em;
}

.nb_logements span
{
    display: flex;
}

.nb_logements i
{
    display: flex;
    width: 1.8em;
    height: 1.8em;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.legende
{
    align-items: center;
    justify-content: center;
    margin-left: 1em;
}

/*********************************Section hébergement*******************************************/

#hotels
{
    display: flex;
}

#hebergements
{
    background-color: #F2F2F2;
    border-radius: 30px;
    padding-left: 2.3em;
    padding-right: 2.3em;
    padding-top: 0.8em;
    height: 600px;
}

.conteneur
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card_hebergement
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 6px solid white;
    border-radius: 10%;
    height: 180px;
    margin-bottom: 30px;
    box-shadow: 0 0 12px grey;
}

.card_hebergement img
{
    width: 220px;
    height: 100px;
    border-radius: 10%;
}

.card_hebergement h3
{
    margin-top: 0;
    margin-bottom: -0.5em;
    font-weight: bold;
}

.card_hebergement p
{
    font-size: 0.85em;
}

.suite
{
    font-weight: bold;
    font-size: 1.1em;
}

/************************************stars*************************************/

.stars
{
    margin-top: -0.5em;
    color: #0065FC;
}

.stars i
{
    width: 14px;
    height: 11px;
}

.empty_stars
{
    color: #F2F2F2;
}